<nz-tabset
  nzType="editable-card"
  (nzClose)="closeTab($event)"
  [(nzSelectedIndex)]="selectedIndex"
  [nzHideAdd]="true"
>
  <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <i *ngIf="tab.isLoading" nz-icon nzType="loading" nzTheme="outline"></i>
      {{ tab.title }}
    </ng-template>
    <app-form *ngIf="tab.isForm; else report" [tabData]="tab"> </app-form>
    <ng-template #report><app-report [tabData]="tab"></app-report></ng-template>
  </nz-tab>
</nz-tabset>
