@import "src/styles";

.menu-sidebar {
  width: 240px;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  border-right: 1px solid #7f7f7f;
}

header {
  background-color: @primary-color;
  height: 64px;
  display: flex;
}

.content{
  height: 100%;
  border:1px solid green;
}

footer{
 background-color: darkgrey;
  height: 48px;
}

.page-content{
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

