.side-wrapper{
  width: 300px;
  position: relative;
  height: 100vh;
  border-right: 1px solid #7f7f7f;
  box-sizing: border-box;
  overflow: hidden;
}
.menu-sidebar {
  box-sizing: border-box;
  height: calc(100vh - 64px);
  overflow: auto;
}
.logo{
  height: 64px;
  border: 1px solid #aeaeae;
}

.content{
  height: calc(100vh - 64px - 36px);
  overflow: auto;
}

.page-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

