<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar [opened]="opened" mode="push">
    <div class="side-wrapper">
      <div class="logo">
        <mat-icon svgIcon="logo" class="icon-logo"></mat-icon>
      </div>
      <div class="menu-sidebar">
        <app-tree></app-tree>
      </div>
      <div class="side-footer">
        <div class="copyright">
          <mat-icon
            svgIcon="iconCopyright"
            style="margin-right: 1rem"
          ></mat-icon>
          Copyright ООО "ИЦС-УК"
        </div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="page-content">
    <app-tool-box (onOpen)="openSidebar()"></app-tool-box>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</ng-sidebar-container>
