<div class="root">
  <ul nz-menu nzMode="inline" *ngIf="!isLoading; else loaderBlock">
    <ng-container *ngFor="let doc of docs">
      <li nz-menu-item class="menu-row">
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
        <span class="left-menu-item" (click)="onClick(doc.docId)">
          <!--          <a [routerLink]="['/doc', doc.docId]">-->
          {{ doc.docName }}
          <!--          </a>-->
        </span>
      </li>
    </ng-container>
  </ul>
  <ng-template #loaderBlock>
    <div class="loading">
      <nz-spin [nzSize]="'large'" nzTip="Loading..."></nz-spin>
    </div>
  </ng-template>
</div>
