@primary-color: #1A759C;

.root{
  height: 64px;
  display: flex;
  background-color: @primary-color;
}
.trigger {
  font-size: 28px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: #F4F4F4;

  &:hover{
    color: #1890ff;
  }
}

