<div class="root">
  <i
    class="trigger"
    nz-icon
    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="open()"
  ></i>
  <div class="main-box">
    <div class="right-box">
      <nz-space nzAlign="center">
        <ng-template [ngIf]="isDocTools">
          <ng-template [ngIf]="isTwoTables">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="onChangeOrient()"
              nz-tooltip
              [nzTooltipTitle]="'Повернуть'"
              [nzTooltipPlacement]="'bottom'"
            >
              <mat-icon
                svgIcon="viewAgenda"
                [ngClass]="[
                  isVertical
                    ? 'mat-icon-orient-vertical'
                    : 'mat-icon-orient-horizontal'
                ]"
              ></mat-icon>
            </button>
            <app-ui-divider></app-ui-divider>
          </ng-template>
          <ng-template [ngIf]="isEdit">
            <button
              nz-button
              nz-tooltip
              [nzTooltipTitle]="'Добавить строку'"
              [nzTooltipPlacement]="'bottom'"
              [nzTooltipOverlayClassName]="'tooltip'"
              nzType="primary"
              nzSize="large"
              (click)="onAddRow()"
            >
              <mat-icon svgIcon="addRow"></mat-icon>
            </button>
            <button
              nz-button
              nz-tooltip
              [nzTooltipTitle]="'Удалить строку'"
              [nzTooltipPlacement]="'bottom'"
              [nzTooltipOverlayClassName]="'tooltip'"
              nzType="primary"
              nzSize="large"
              (click)="onRemoveRow()"
            >
              <mat-icon svgIcon="deleteRow"></mat-icon>
            </button>
            <button
              nz-button
              nz-tooltip
              nzType="primary"
              nzSize="large"
              [disabled]="saveDisabled"
              (click)="onSaveRows()"
              [nzTooltipTitle]="'Сохранить изменения'"
              [nzTooltipPlacement]="'bottom'"
              [nzTooltipOverlayClassName]="'tooltip'"
            >
              <mat-icon svgIcon="save"></mat-icon>
            </button>
            <app-ui-divider></app-ui-divider>
          </ng-template>
          <ng-template [ngIf]="!isTwoTables">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              nz-dropdown
              [nzDropdownMenu]="menu"
              [nzPlacement]="'bottomLeft'"
            >
              <mat-icon svgIcon="export"></mat-icon>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  nz-menu-item
                  [nzDisabled]="!isExportExcel"
                  (click)="toExcel()"
                >
                  Выгрузить в Excel
                </li>
                <li nz-menu-item [nzDisabled]="!isExportCSV" (click)="toCSV()">
                  Выгрузить в CSV
                </li>
                <li nz-menu-item [nzDisabled]="!isExportPDF" (click)="toPDF()">
                  Выгрузить в PDF
                </li>
              </ul>
            </nz-dropdown-menu>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="onClickPrint()"
              nz-tooltip
              [nzTooltipTitle]="'Печать'"
              [nzTooltipPlacement]="'bottom'"
            >
              <mat-icon svgIcon="print"></mat-icon>
            </button>
            <app-ui-divider></app-ui-divider>
          </ng-template>
          <ng-template [ngIf]="isGrid">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="onClickResetFilter()"
              nz-tooltip
              [nzTooltipTitle]="'Сбросить все фильтры'"
              [nzTooltipPlacement]="'bottom'"
            >
              <mat-icon svgIcon="filterRemove"></mat-icon>
            </button>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="onClickFilter()"
              [ngClass]="isOnFilter ? 'button-invert' : ''"
              nz-tooltip
              [nzTooltipTitle]="'Показать фильтр'"
              [nzTooltipPlacement]="'bottom'"
            >
              <mat-icon svgIcon="filterAdd"></mat-icon>
            </button>
          </ng-template>
          <!--          <button-->
          <!--            nz-button-->
          <!--            nzType="primary"-->
          <!--            nzSize="large"-->
          <!--            (click)="onClickMarker()"-->
          <!--            [ngClass]="isOnMarker ? 'button-invert' : ''"-->
          <!--          >-->
          <!--            <mat-icon svgIcon="markerColor"></mat-icon>-->
          <!--          </button>-->
        </ng-template>
        <!--        <app-ui-divider></app-ui-divider>-->
        <!--        <button-->
        <!--          nz-button-->
        <!--          nzType="primary"-->
        <!--          nzSize="large"-->
        <!--          (click)="onTest()"-->
        <!--          nz-tooltip-->
        <!--          [nzTooltipTitle]="'test'"-->
        <!--          [nzTooltipPlacement]="'bottom'"-->
        <!--        >-->
        <!--          Test-->
        <!--        </button>-->
        <app-ui-divider></app-ui-divider>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="onClickPersonalArea()"
          nz-tooltip
          [nzTooltipTitle]="'Личный кабинет'"
          [nzTooltipPlacement]="'bottom'"
        >
          <mat-icon svgIcon="userPersonArea"></mat-icon>
        </button>
        <app-ui-divider></app-ui-divider>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="menuToggle()"
        >
          {{ menuTitle }}
        </button>
        <app-ui-divider></app-ui-divider>
        <button nz-button nzType="primary" nzSize="large">О нас</button>
        <app-ui-divider></app-ui-divider>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nz-tooltip
          [nzTooltipTitle]="'Выйти'"
          [nzTooltipPlacement]="'bottom'"
          (click)="logout()"
        >
          <mat-icon svgIcon="logout"></mat-icon>
        </button>
      </nz-space>
    </div>
  </div>
</div>
