<div class="root">
  <i
    class="trigger"
    nz-icon
    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="open()"
  ></i>
  <div class="main-box">
    <div class="right-box">
      <nz-space nzAlign="center">
        <button
          *ngIf="isTwoTables"
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="onChangeOrient()"
        >
          <mat-icon
            svgIcon="viewAgenda"
            [ngClass]="[
              isVertical
                ? 'mat-icon-orient-vertical'
                : 'mat-icon-orient-horizontal'
            ]"
          ></mat-icon>
        </button>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="onClickPersonalArea()"
        >
          <mat-icon svgIcon="userPersonArea"></mat-icon>
        </button>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="menuToggle()"
        >
          {{ menuTitle }}
        </button>
        <button nz-button nzType="primary" nzSize="large">О нас</button>
        <nz-divider nzType="vertical"></nz-divider>
        <i
          nz-icon
          nzType="logout"
          nzTheme="outline"
          class="trigger"
          (click)="logout()"
        ></i>
      </nz-space>
    </div>
  </div>
</div>
