<nz-form-item [formGroup]="form" class="root">
  <nz-form-label [nzSpan]="6" [attr.for]="control.key">{{
    control.label
  }}</nz-form-label>

  <nz-form-control [ngSwitch]="control.controlType">
    <app-ui-text-input
      *ngSwitchCase="'textBox'"
      [name]="control.key"
      [formGroup]="form"
      [defaultValue]="'test'"
    ></app-ui-text-input>
    <app-ui-data-picker
      *ngSwitchCase="'dateBox'"
      [name]="control.key"
      [formGroup]="form"
    ></app-ui-data-picker>
    <app-ui-select
      *ngSwitchCase="'selectBox'"
      [name]="control.key"
      [formGroup]="form"
      [options]="control.options"
      [defaultValue]="control.defaultValue"
    ></app-ui-select>
    <app-ui-simple-select
      *ngSwitchCase="'simpleSelectBox'"
      [name]="control.key"
      [formGroup]="form"
      [items]="control.itemList"
      [defaultValue]="control.defaultValue"
    ></app-ui-simple-select>
    <app-ui-text-area
      *ngSwitchCase="'areaBox'"
      [name]="control.key"
      [formGroup]="form"
    >
    </app-ui-text-area>
    <app-ui-number-input
      *ngSwitchCase="'numberBox'"
      [name]="control.key"
      [formGroup]="form"
      [defaultValue]="control.defaultValue"
    ></app-ui-number-input>
    <app-ui-radio-group
      *ngSwitchCase="'radioGroup'"
      [name]="control.key"
      [formGroup]="form"
      [items]="control.itemList"
      [defaultValue]="control.defaultValue"
    >
    </app-ui-radio-group>
    <app-ui-combo
      *ngSwitchCase="'combo'"
      [name]="control.key"
      [formGroup]="form"
      [group]="control.group"
      [defaultValue]="control.defaultValue"
    >
    </app-ui-combo>
    <h3 *ngSwitchDefault style="color: tomato">
      No control for № {{ control.controlNumber }}
    </h3>
  </nz-form-control>

  <div class="errorMessage" *ngIf="!isValid">
    {{ control.label }} is required
  </div>
</nz-form-item>
